@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style: none;
}

body {
    height: 100svh;
}

/* Style pour toute les sections (padding, marge, border raduis, ombre et couleurs */
@layer components {
    .custom_css_section {
        @apply rounded-xl shadow-md shadow-stone-500/20 bg-neutral-50;
    }
    .custom_css_subsections {
        @apply mb-4 mx-2 p-3 rounded-xl shadow-md border-t-neutral-300/50 border-t bg-neutral-100;
    }
}

/* Style pour le vin qui rempli la bouteille */
.custom_vin {
    position: relative;
    left: 0px;
    bottom: -42px;
    height: 145px;
    width: 70px;
    overflow: hidden;
    border: none;
    background-image: url(./icons/wine.png);
    animation: fill 5s infinite;
    background-repeat: repeat-x;
    z-index: -100;
}

/* Style pour l'annimation */
@keyframes fill {
    0% {
        background-position: 0px 200px;
    }
    25% {
        background-position: -150px 150px;
    }
    50% {
        background-position: -100px 100px;
    }
    100% {
        background-position: 50px 0px;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}

.animate-ripple {
    animation: ripple 1s ease-out;
}
