@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100svh;
}

/* Style pour toute les sections (padding, marge, border raduis, ombre et couleurs */
@layer components {
    .custom_css_section {
        @apply mb-8 rounded-xl shadow-md pb-2 shadow-stone-500/20 dark:shadow-none dark:text-stone-950 dark:bg-[#F5F3F4] bg-[#F5F3F4];
    }
    .custom_css_subsections {
        @apply mb-4 p-2 rounded-xl shadow-md border-t-stone-300/50 border-t dark:shadow-none dark:text-stone-950 dark:bg-stone-300 bg-stone-200/50;
    }
}

/* Style pour le vin qui rempli la bouteille */
.custom_vin {
    position: absolute;
    left: 72px;
    bottom: 5px;
    height: 125px;
    width: 55px;
    overflow: hidden;
    border: none;
    background-image: url(./icons/wine.png);
    animation: fill 5s infinite;
    background-repeat: repeat-x;
    z-index: -100;
}

/* Style pour l'annimation */
@keyframes fill {
    0% {
        background-position: 0px 200px;
    }
    25% {
        background-position: -150px 150px;
    }
    50% {
        background-position: -100px 100px;
    }
    100% {
        background-position: 50px 0px;
    }
}
